*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f2f2;
    padding:40px;
}

.container{
    display:flex;
    justify-content:center;
    gap:20px;
}

.card{
    width:220px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    text-align:center;
    padding:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:140px;
    border-radius:8px;
}

.card h3{
    margin:10px 0;
}

.card p{
    font-size:14px;
    color:#555;
    margin-bottom:15px;
}

.card button{
    background:#007BFF;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

.card button:hover{
    background:#0056b3;
}

.container h4{
    color: #007BFF;
    margin-bottom: 10px;
}